@tailwind base;
@tailwind components;
@tailwind utilities; 

body { 
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #dbdada;
  color: #333;


  background-image: url('imatges/programing.jpg'); /* Reemplaza 'ruta-de-tu-imagen.jpg' por la ruta de tu imagen */
  
  /* Que ocupe toda la pantalla */
  background-size: cover;
  
  /* Centrar la imagen */
  background-position: center;
  
  /* Evitar que se repita */
  background-repeat: no-repeat;
  
  /* Que la imagen de fondo se mantenga fija mientras se hace scroll */
  background-attachment: fixed;
  
  /* Asegurar que el fondo ocupe toda la ventana */
  min-height: 100vh; /* 100% de la altura de la ventana */
}

header {
  background-color: #2a8a2db0;
  color: white;
  text-align: center;
  padding: 10px 10px;
}


header h1 {
  font-size: 2.7rem;
  margin: 0;
}

header p {
  font-size: 0.9rem;
  margin: 10px 0 0;
}

.container {
  flex: 1; /* Esto permite que el contenedor crezca y ocupe todo el espacio disponible */
  padding: 20px;
  margin-left: 10%;
}


section {
  margin: 40px 0;
}

h2 {
  font-size: 2rem;
  color: #4CAF50;
}

p {
  color: #ffffff;
  font-size: 1.1rem;
  line-height: 1.7;
  margin-bottom: 20px;
}

.cta-button {
  display: inline-block;
  background-color: #4CAF50;
  color: white;
  padding: 10px 25px;
  font-size: 1.1rem;
  border-radius: 5px;
  text-decoration: none;
  margin-top: 20px;
}

.lectures-recomanades {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;  /* Espacio entre la galería y la tabla */
}

.mangues {
  width: 270px; /* Define el tamaño máximo que quieres para la imagen */
  height: auto; /* Mantiene las proporciones correctas de la imagen */
  object-fit: cover; /* Esto ayudará a que la imagen se ajuste bien dentro de su contenedor */
  transform: scale(1.1)
}


.jocs-jugats {
  display: flex;
  flex-wrap: wrap; /* Permite que las imágenes pasen a la siguiente fila */
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px; /* Espacio entre la galería y la tabla */
}

.jocs {
  width: 300px; /* Ajusta el tamaño de las imágenes */
  height: auto;
  object-fit: cover;
  margin: 10px; /* Espacio entre las imágenes */
}

.llista-serveis{
  text: #2a51be;
}



.skills-list, .projects-list {
  list-style: none; 
  padding: 0;
}

.skills-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.skills-table th, .skills-table td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}

.skills-table th {
  background-color: #f4f4f4;
  font-weight: bold;
}

.skills-table td {
  background-color: #fafafa;
}

.skills-gallery {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;  /* Espacio entre la galería y la tabla */
}

.gallery-logo {
  width: 260px;  /* Tamaño de los logos en la galería */
  height: auto;
  transition: transform 0.3s ease;
}

.skills-gallery-js{
  width: 215px;  /* Tamaño de los logos en la galería */
  height: auto;
  transition: transform 0.3s ease;
}



.personal-skills-logo {
  width: 60%; /* Cambié de 700% a 70% */
  height: auto; /* Esto permite que la altura se ajuste de manera proporcional al ancho */
  display: block; /* Asegura que se comporte como un bloque y no como un inline element */
  margin-left: auto;
  margin-right: auto; /* Centra la imagen horizontalmente */
}


.gallery-logo:hover {
  transform: scale(1.1);  /* Efecto zoom al pasar el ratón por encima */
}

.skills-list li, .projects-list li {
  background-color: white;
  margin-bottom: 10px;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
  width: 100%;
  position: relative; /* Lo deja estático hasta que sea necesario que se quede en el fondo */
}

footer a {
  color: #4CAF50;
  text-decoration: none;
}

footer p {
  margin: 0;
}

footer a:hover {
  text-decoration: underline;
}


header img {
  max-width: 150px; /* Tamaño máximo de la imagen */
  border-radius: 50%; /* Borde circular */
  display: block; /* Para aplicar margen automático */
  margin: auto; /* Centra la imagen horizontalmente */
}

.desenvolupadorweb{
  
  margin-bottom: 20px;
  width: 700px; /* Tamaño máximo de la imagen */
  display: block; /* Para aplicar margen automático */
  margin: 0 auto; /* Centra la imagen horizontalmente */
}



.navigation {
  background-color: #333;
}

.navigation nav {
  text-align: center;
}

.navigation ul {
  padding: 0;
  list-style: none;
}

.navigation ul li {
  display: inline-block;
  margin: 0 15px;
}

.navigation ul li a {
  text-decoration: none;
  color: white;
  font-size: 1.1rem;
  padding: 10px 15px;
  border-radius: 5px;
  transition: all 0.3s ease;
}



.navigation ul li a:hover {
  background-color: #4b76eb;
  padding: 8px 12px;  /* Ajusta el padding para hacerlo más pequeño */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Añade una sombra suave si lo deseas */
  border-radius: 5px;
}

.line {
  display: none; /* Ocultar la línea decorativa */
}

.xarxes-principals {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;  /* Espacio entre la galería y la tabla */
}

.xarxes-primaries {
  width: 200px; /* Define el tamaño máximo que quieres para la imagen */
  height: auto; /* Mantiene las proporciones correctas de la imagen */
  object-fit: cover; /* Esto ayudará a que la imagen se ajuste bien dentro de su contenedor */
  border-radius: 5%; /* Si quieres mantener un estilo circular */
}



.xarxes-secundaries {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px
}

.xarxes-noSeguides {
  width: 200px; /* Define el tamaño máximo que quieres para la imagen */
  height: auto; /* Mantiene las proporciones correctas de la imagen */
  object-fit: cover; /* Esto ayudará a que la imagen se ajuste bien dentro de su contenedor */
  border-radius: 5%; /* Si quieres mantener un estilo circular */
  
}


.iframe-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco semitransparente */
  border-radius: 10px;  /* Opcional: bordes redondeados */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Opcional: sombra suave */
}


.form-iframe {
  width: 100%;    /* Ancho del iframe */
  height: 90%;   /* Altura del iframe */
  border: none;    /* Quitar el borde */
}